<!DOCTYPE html>
<html>
<head>

<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>

	<div class="main">  
    	 
		<input type="checkbox" id="chk" aria-hidden="true">
   
			<div  class="signup">
        <form (ngSubmit) = "onSubmit()"> 
          <label style="color:#000080;" for="chk" aria-hidden="true">Ajouter une bibliotheque</label>
            
              <input id="etablissement"  [(ngModel)] = " bibliotheque.etablissement"  class="form-control" type="text" name="etablissement" placeholder="Entrer le nom de l'établissement">
              
              <input  id="mail"  [(ngModel)] = " bibliotheque.email"  class="form-control" type="text" name="email" placeholder="Entrer l'email de la bibliotheque">
          
     
              <input id="numéro"  [(ngModel)] = " bibliotheque.numTel"  class="form-control" type="text" name="numTel" placeholder="Entrer le numéro de la bibliotheque">
          
              <input id="nbr_de_chaise"   [(ngModel)] = " bibliotheque.nbrDeChaises"  class="form-control" type="text" name="nbrDeChaises" placeholder="Entrer le nombre des chaises disponibles">
           
                          
        
       <button type="submit" >Valider</button>
      </form>
    </div>

    </div>
</body>
</html>