
<!DOCTYPE html>
<html>
<head>

<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>

	<div class="main">  
    	 
		<input type="checkbox" id="chk" aria-hidden="true">
   
			<div class="signup">
        <form> 
          <label style="color:#1e1e4d;" for="chk" aria-hidden="true">Contactez-nous!</label>
                      
          <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Envoyez-nous un message et nous vous répondrons dès que possible!</h5>

              <br><br><input id="nom" class="form-control" type="text" name="" placeholder="Entrer votre nom">
          
          
              <input id="prenom" class="form-control" type="text" name="" placeholder="Entrer votre prénom">
           
       
              <input id="mail" class="form-control" type="text" name="" placeholder="Entrer votre mail">
          
     
              <input id="numéro" class="form-control" type="text" name="" placeholder="Entrer votre numéro">
        
             
              <input id="adresse" class="form-control" type="text" name="" placeholder="Entrer votre message">
         
           
      
       
      </form>
    </div>

      <div class="login">
				<form>

					<button>Envoyer</button>
				</form>
			</div>
    </div>
</body>
</html>