

<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">

<body>

	<div class="main">  
		<br>
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form (ngSubmit) = "onSubmit()">
					<label style="color:#1e1e4d;" for="chk" aria-hidden="true">Connexion</label>
				
					<input id="email"  [(ngModel)] = "etudiant.email" class="form-control" type="text" name="email" placeholder="Entrer votre mail">
          
     
					<input   type="password"  id="motDePasse" [(ngModel)] = "etudiant.motDePasse" class="form-control"  name="motDePasse" placeholder="Entrer votre mot de passe">
					<br><br><br>
					
					<h4  style="color:#ff0000;" >{{msg}}</h4>
					<button 
					type="submit">se connecter</button>
				</form>
			</div>

			<div class="login">
				<form>

					<button (click)="goinscri()">S'inscrire</button>
				</form>
			</div>
	</div>
</body>
